#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #DEDEDF;
  width: 44em;
  height: 20em;

}

#login-form input {
  padding-top: 1.5em;
  width: 25em;
}

#login-form input {
  margin-bottom: 2em;
}

#login-form button{
  height: 3em;
  width: 20em;
  background-color: #87cef8;
  margin-bottom: 1.5em;

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.divider{
  color: black;
  line-height: 2em;
  width: 100vw;
}

.ui.divider.inverted, .ui.horizontal.inverted.divider, .ui.vertical.inverted.divider {
 color: black; 
}
