#menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  width: 100vw;
  height: 3em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 1em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

 h1, h2, h3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white
}


body {
  background-color: #f7f7f7;
}

.ui.divider.inverted {
  color: black;
}

label {
  color: white;
}