#menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

 h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #87cef9
}


body {
  background-color: #f7f7f7;
}
