

form#signup-form.ui.form {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2em;
    
}

#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #DEDEDF;
  width: 44em;
  height: fit-content;
  padding-top: 1em;
  padding-bottom: 1em;
}